.App {
  background: gray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  text-align: left;
}

.App-header {
  display: flex;
  background-color: #222;
  height: 60px;
  padding-top: .5%;
  color: white;
}

.settings {
  float: right
}

.logout {
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
